steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Build and Run Tests
      working-directory: ./taskflow 
      run: mvn clean package

    - name: Docker Build
      working-directory: ./taskflow
      run: docker build -t taskflow-api .
