name: Java CI/CD with Maven

on:
  push:
    branches: [ "main", "develop" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build and Run Tests
        working-directory: ./taskflow/taskflow
        run: mvn clean package

      - name: Docker Build
        working-directory: ./taskflow/taskflow
        run: docker build -t taskflow-api .
